body {
    background: #e6e6e6;
}

h1 {
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-style: normal;
	font-variant: normal;
}

h3 {
    font-size:1.0em;
    font-family: Lato, sans-serif;
}

.tooltip {
    position: absolute;
    width: 200px;
    height: 28px;
    pointer-events: none;
    font-size: 0.8em;
    color: #000;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-family: Lato, sans-serif;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.axis path,
    .axis line {
        fill: none;
        stroke: rgba(22, 22, 22, 0.75);
        shape-rendering: crispEdges;
    }

.axis text {
        font-family: sans-serif;
        font-size: 12px;
    }
td, th{
    padding: 1px 4px;
}

.svg2{
    background-color: aliceblue;
}

.title {
    alignment: center;
    font-family: Lato, sans-serif;
    font-size: 15px;
}

