<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>English Premier League 2011/12 Statistics</title>
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="http://d3js.org/queue.v1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
        url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script type="text/javascript" src="./static/lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="./static/lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='./static/js/show_visualizations.js'></script>
    <script type="text/javascript" src="./static/js/CollapsibleTree.js"></script>
    <script type="text/javascript" src="./static/js/bumpChart.js"></script>
    <script type="text/javascript" src="./static/js/RadarChart.js"></script>

    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/lib/css/dashboards.css">
    <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
    <link rel="icon" type="image/png" href="https://ismdj.scdn5.secure.raxcdn.com/static/libsass/plfpl/dist/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
</head>

<body class="application">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #2c4e81;">
    <div class="container-fluid">
        <div class="navbar-header" align="center">
            <picture>
                <img alt="Premier League Logo" id="mainLogo" style="height: 60px; width: 90px; float: left;"
                     src="https://resources-pl.pulselive.com/ver/i/elements/premier-league-logo-header.png"/>
            </picture>
            <a class="navbar-brand" href="./" style="padding-top: 20px;">English Premier League 2011/12 Statistics</a>
        </div>
    </div>
</div>

{#<h3 align="center">Visualize the performance of Premier League players in the 2011/12 season based on different attributes</h3>#}

<div class="tab">
    <button class="tabStyle" onclick="checkTab(event, 'gameweek')">Gameweek Data</button>
    <button class="tabStyle" onclick="checkTab(event, 'season')">Season Data</button>
    <button class="tabStyle" onclick="checkTab(event, 'bump')">Final Standings</button>
</div>

<div id="gameweek" class="tabcontent">
    <div id="makeGameweek">

        <div id="slider" style="width: 100%"> </div>

        <div class="container-fluid">

            <div class="row">

                <div class="col-sm-6">
                    <div class="row">

                        <!-- Best Players -->
                        <div class="col-sm-12">
                            <div class="chart-wrapper">
                                <div class="chart-title">
                                    Top 5 Players
                                </div>
                                <div class="chart-stage">
                                    <div id="time-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Best Players -->

                        <!-- Interesting Statistics -->
                        <div class="col-sm-6">
                            <div class="chart-wrapper">
                                <div class="chart-title">
                                    Interesting Statistics
                                </div>
                                <div class="chart-stage">
                                    <div align="center">
                                        <select id="options">
                                            <option value="Goals_type" selected>Goals by type</option>
                                            <option value="Goals_position" selected>Goals by position</option>
                                            <option value="Attempts">Attempts</option>
                                            <option value="Passes">Passes</option>
                                            <option value="Pass_direction">Pass Direction</option>
                                            <option value="Saves">Saves Made</option>
                                            <option value="Crosses">Crosses</option>
                                            <option value="Clearances">Clearances</option>
                                        </select>
                                    </div>
                                    <div id="interesting-stats-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Interesting Statistics -->

                        {#                        <!-- Top Players by position -->#}
                        <div class="col-sm-6">
                            <div class="chart-wrapper">
                                <div class="chart-title">
                                    Comparison of Top 5 Players
                                </div>
                                <div class="chart-stage">
{#                                    <div align="center">#}
{#                                        <select id="positions">#}
{#                                            <option value="gk" selected>Goalkeeper</option>#}
{#                                            <option value="def" selected>Defender</option>#}
{#                                            <option value="mid">Midfielder</option>#}
{#                                            <option value="for">Striker</option>#}
{#                                        </select>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="chart-stage">#}
                                    <div id="position-stats-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Top Players by position -->

                    </div>
                </div>

                <!-- Scatterplot -->
                <div class="col-sm-6">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Visualize Players
                        </div>
                        <div class="chart-stage">
                            <div id="pca-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Scatterplot -->
            </div>

        </div>


    </div>
</div>

<div id="season" class="tabcontent">
    <div id="makeSeason">
        <h4 align="center" style="font-size: 1.2em; font-weight: bold;">Season Data</h4>

        <div class="container-fluid" style="border: none; background-color: #fff;">

            <div class="row">

                <div class="col-sm-6">
                    <div class="row">

                        <!-- Collapsible Tree -->
                        <div class="col-sm-12">
                            <div class="chart-wrapper">
                                <div class="chart-stage" style="width: 120%">
                                    <div id="collapsibleTree"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Collapsible Tree -->

                    </div>
                </div>

                <!-- Player Info -->
                <div class="col-sm-6">
                    <div class="chart-wrapper">
                        <div class="chart-stage">
                            <div id="playerProfile"></div>
                        </div>

                        <div class="chart-stage">
                            <div id="playerDetails"></div>
                        </div>

                        <div class="chart-stage" align="center">
                            <select id="season_stats">
                                <option value="index_values" selected>Performance Index</option>
                                <option value="goal_values">Goals</option>
                                <option value="assist_values">Assists</option>
                                <option value="attempts_values">Attempts</option>
                                <option value="passes_values">Passes</option>
                            </select>

                            <div id="lineChart" style="padding-top: 10px;"></div>
                        </div>

                    </div>
                </div>
                <!-- Player Info -->

            </div>

        </div>

    </div>
</div>

<div id="bump" class="tabcontent">
    <div id="makeBumpChart">

    </div>
</div>


<script>document.getElementsByClassName('tabStyle')[0].click();</script>

</body>
</html>